<!-- REFERENCE: https://angular.io/api?type=pipe -->

<!-- USING PIPES:
  -- Pipes transform the output of data, so, naturally, they are added to where data is output in the template
  -- Add a pipe using the | symbol (below backspace) and passing it the name of a built-in or custom-made pipe
  -- Examples
    -- Date object output by {{ server.started }} outputs the full timestamp date
    -- | date pipe outputs the date in the more traditional format (August 9, 1920)
-->

<!-- PARAMETRIZING PIPES:
  -- Pipes can take parameters that provide options for how the pipe transforms the data
  -- add parameters to the pipe by separating them with colons :
    -- Ex. date:'fullDate' adds the day of the week to the date (Monday, August 9, 1920)
-->

<!-- CHAINING PIPES
  -- chain together pipes by adding another | symbol
  -- order does matter though
    -- Example: {{ server.started | date : "fullDate" | uppercase }}
      -- uppercase pipe must come second because it can only be applied to strings, and {{server.started}} outputs a Date object until the date pipe transforms the output to a string
-->

<!-- CUSTOM PIPES
  -- create a new file in the appropriate directory (.../app/shorten.pipe.ts) (CLI: ng generate pipe pipeName || ng g p pipeName)
  -- export a class (ShortenPipe)
  -- the class needs to implement PipeTransform, which has a method called transform()
    -- transform must be passed a value, and any amount of optional arguments, which represent the parameters passed to the pipe when it's called
    -- Example: ShortenPipe takes a value (the server name) and if it's longer than 10 characters, it only returns a substring of the first 10 characters
  -- add the @Pipe decorator to the class and pass it a JS object
    -- must at least give it a name that acts as the selector (shorten)
    -- register the pipe by adding it to the declarations array in AppModule
-->

<!-- PURE PIPES
  -- by default, pipes are configured as 'pure,' meaning it's transform() method is only invoked when its input arguments change
  -- setting 'pure: false' in the @Pipe decorator config, the pipe is invokes on every change-cycle
  -- USE ONLY WHEN NEEDED - CAN HAVE SIGNIFICANT EFFECT ON PERFORMANCE
-->

<!-- ASYNC PIPE
  -- when outputing async data, the async pipe automatically updates the output when the promise resolves or automatically subscribes to an Observable
-->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filteredStatus" />
      <br />
      <button class="btn btn-primary" (click)="onAddServer()">
        Add Server
      </button>
      <br /><br />
      <h2>App Status: {{ appStatus | async }}</h2>
      <hr />
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="
            let server of servers
              | sort : 'name'
              | filter : filteredStatus : 'status'
          "
          [ngClass]="getStatusClasses(server)"
        >
          <span class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten : 15 }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date : "fullDate" | uppercase }}
        </li>
      </ul>
      <hr />
      <input type="text" [(ngModel)]="wordToReverse" />
      <h3>{{ wordToReverse | reverse }}</h3>
    </div>
  </div>
</div>
